.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.msg-dialog {
  position: fixed;
  left: 30vw;
  top: 20vh;
  width: 40vw;
  /* height: 30vh; */
  z-index: 70%;
  background-color: #fff;
}
